h2{
    font-family: serif;
}
p{
    font-family: serif;
}

h2{
    color:white;
}
p{
    color:#ff6c94;
}

body{
    background-image: url(gray-cat_OU5O7ZUVH7.jpg);
    background-repeat: no-repeat;
}

body{
    background-image: url(gray-cat_OU5O7ZUVH7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h2{
    margin-top: 100px;
    margin-left: 100px;
}
p{
    margin-top: 50px;
    margin-left: 100px;
}

.main-nav{
    display: flex;
    font-size: 1.0rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: white;
}
.main-nav a:hover{
    color: red;
}
.main-nav{
    font-family: serif;
}

@media (max-width: 400px){
    h1{
        color: #0bd;
    }
}

@media (max-width: 600px){
    .portfolio-contents{
        flex-direction: column;
    }
    article,
    aside{
        width: 100%;
    }
    .page-header{
        flex-direction: column;
        align-items: center;
    }
    .page-title{
        font-size: 2.5rem;
    }

.main-nav{
    font-size: 1rem;
    margin-top: 10px;
}

#portfolio.page-title{
    margin-top: 30px;
}
aside{
    margin-top: 60px;
}
.post-info{
    margin-bottom: 30px;
}
.post-date{
    width: 70px;
    height: 70px;
    font-size: 1rem;
}
.post-date span{
    font-size: 0.875rem;
    padding-top: 2px;
}
.post-title{
    font-size: 1.375rem;
}
.post-cat{
    font-size: 0.875rem;
    margin-top: 10px;
}
.post-title,
.post-cat{
    margin-left: 80px;
}



.home-content{
    margin-top: 20%;
}

}